node-red jobsubmitflow
[
    {
        "id": "2a6f6028.74ae4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9d0c5059.b3209",
        "type": "inject",
        "z": "2a6f6028.74ae4",
        "name": "Send SMS",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "45123bff.02fb84"
            ]
        ]
    },
    {
        "id": "af44ce15.d1738",
        "type": "debug",
        "z": "2a6f6028.74ae4",
        "name": "",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "45123bff.02fb84",
        "type": "function",
        "z": "2a6f6028.74ae4",
        "name": "JobSubmit",
        "func": "let url = 'https://messaging.easylink.com/soap/sync';\nlet username = 'EASYLINKUID';\nlet password = 'EASYLINKPWD';\n\n        var yourHeartRate =\"testing\";\n        let soapmessage = '<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:ns=\"http://ws.easylink.com/RequestResponse/2011/01\" xmlns:ns1=\"http://ws.easylink.com/JobSubmit/2011/01\">' + \n   '<soapenv:Header>' +\n      '<ns:Request>' +\n         '<ns:SenderKey>?</ns:SenderKey>' +\n         '<ns:ReceiverKey>https://messaging.easylink.com/soap/sync</ns:ReceiverKey>' +\n          '<ns:Authentication>' +\n           '<ns:XDDSAuth>' +\n           '<ns:RequesterID aliasType=\"?\">' + username + '</ns:RequesterID>' +\n            '<ns:Password>' + password + '</ns:Password>' +\n            '</ns:XDDSAuth>' +\n         '</ns:Authentication>' +\n      '</ns:Request>' +\n   '</soapenv:Header>' +\n   '<soapenv:Body>' +\n\t\t   '<JobSubmitRequest xmlns=\"http://ws.easylink.com/JobSubmit/2011/01\">' +\n\t\t\t\t'<Message>' +\n\t\t\t\t'<JobOptions>' +\n\t\t\t\t\t'<SmsOptions/>' +\n\t\t\t\t'</JobOptions>' +\n\t\t\t\t'<Destinations>' +\n\t\t\t\t\t'<DeliveryItemGeneric type=\"sms\">' +\n\t\t\t\t\t\t'<Address>0031610067504</Address>' +\n\t\t\t\t\t'</DeliveryItemGeneric>' +\n\t\t\t\t'</Destinations>' +\n\t\t\t\t'<Reports>' +\n\t\t\t\t\t'<DeliveryReport>' +\n\t\t\t\t\t'<DeliveryReportType>none</DeliveryReportType>' +\n\t\t\t\t\t'</DeliveryReport>' +\n\t\t\t\t'</Reports>' +\n\t\t\t\t'<Contents>' +\n\t\t\t\t\t'<Part>' +\n\t\t\t\t\t'<Document>' +\n\t\t\t\t\t'<DocType>text</DocType>' +\n\t\t\t\t\t'<DocData format=\"text\">' + yourHeartRate + '</DocData>' +\n\t\t\t\t\t'</Document>' +\n\t\t\t\t\t'<Treatment>body</Treatment>' +\n\t\t\t\t\t'</Part>' +\n\t\t\t\t'</Contents>' +\n\t\t\t\t'</Message>' +\n\t\t'</JobSubmitRequest>' +\n   '</soapenv:Body>' +\n'</soapenv:Envelope>';\nmsg.payload = soapmessage;\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "854c86a2.e62cc8"
            ]
        ]
    },
    {
        "id": "854c86a2.e62cc8",
        "type": "http request",
        "z": "2a6f6028.74ae4",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://messaging.easylink.com/soap/sync",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "af44ce15.d1738"
            ]
        ]
    }
]
